.rooms-selector2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 2px solid lightgrey;
  margin-top: 2px;
  height: 10vh;
  width: 100vw;
  z-index: 100;
}
.Logo{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: x-large;
  font-weight: 800;

}
.search{
  display: flex;
  align-items: center;
  margin-left: 4rem;
}
.search input{
  width: 300px;
  height: 3.5vh;
}
.search button{
  margin-top: 5px;
  height: 33px;
  padding: 5px;
  width: 40px;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: left; 
  align-items: right;
  right: 0;
  cursor: pointer;

}
.icons p{
  margin-left: 10px;
  margin-top: 13px;
  font-size: x-large;
}
