.roomslist{
  display: flex;
  flex-direction: row;
}
.RoomContainer{
  display: flex;
  flex-direction: column;
}

.image-view{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
}