.rooms{
  background-color: #ffffff;
  width: 90vw;
}
.room-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
  background-color: white;
  border-bottom: 2px solid rgb(224, 221, 221);
}

.frame3{
  margin-right: 20px;
}