.roomList-component{
  display: flex;
  flex-direction: row;
  height: 40vh;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 77.4vw;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid lightgray;
}
.image-container{
  margin-top: 2px;
  height: 35vh;
}
.image-container img{
  height: 250px ;
  width: 500px ;
}
.details-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
}
.details-container p{
  display: flex;
  flex-direction: column;

}

.details-container .top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 44vw;
  margin-left: 1rem;

}
.details-container .middle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 44vw;
  margin-left: 1rem;

}
.details-container .middle p{
  font-size: x-large;
  color: #431ccf;
  align-items: center;
  margin-top: 1.5rem;
}
.details-container .bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 44vw;
  margin-top: 2rem;

}
.details-container .bottom p{
  font-size: x-large;
  color: #431ccf;
  align-items: center;
  margin-top: 2.5rem;
}
.details-container .bottom h3{
  font-size: large;
  color: #e72020;
  align-items: center;
  margin-top: 2.5rem;
  margin-left: -7rem;
}
.bottom button{
  padding: 10px;
  font-weight: 400;
  color: white;
  background-color: #431ccf;
  cursor: pointer;
}