.sidebar {
  display: 'flex';
  flex-direction: 'column';
  width: 20vw;
  height: 100vh;
  color: 'white';
  border-radius: 2rem;
  margin-top: 0;
}
.sidebar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  height: 100vh;
  border-radius: 3rem;

}
.sidebar-container h3{
  color: white;
  padding-bottom: 15px;
  width: 150px;
  border-bottom: 2px solid rgb(165, 157, 157);
}