.form_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ownerform{
  display: flex;
  flex-direction: row;
  background-color: bisque;
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
}
.ownerform label{
  font-weight: 600 ;
}
.ownerform h1{
  text-align: center;
}

.form-container-left{
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.form-container-right{
  display: flex;
  flex-direction: column;
  width: 25vw;
}