.dashboard-container {
  display: flex;
  flex-direction: row;
}

.dashboard-container-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  margin-top: 3rem;

}

.dashboard-container-left {
  width: 25vw;

}
.dashboard-container-right-top{
  margin-bottom: 20px;
}
.dashboard-container-right-bot{
  margin-left: 0rem;

}
.dashboard-container-right-head{
  margin-bottom: 0;
}
.dashboard-container-right-body{
  /* margin-top: -40rem; */
}