.dashboard-container {
  display: flex;
  flex-direction: row;
}

.dashboard-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin-top: 2rem;

}

.dashboard-container-left {
  width: 25vw;

}
.dashboard-container-right-top{
  margin-bottom: 20px;
}
.dashboard-container-right-bot{
  margin-left: 10rem;

}